.press-content {
	margin-top: 20px;
	margin-bottom: 20px;
}

.press-content .pressKit-wrapper .detail{
	margin-bottom: 10px;
}

.pressKit-wrapper .header{
	margin-bottom: 5px;
}

.description ul li{
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
